/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: #8FC1A9;
}

h1 {
  font-style: italic;
  font-size: 50px;
  color: navy;
}

.navbar {
  overflow: hidden;
  background-color: #8FC1A9;
  position: fixed;
  top: 0;
  right: 100px;
  width: 25%;
}

.navbar a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #111;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}

/*one column on the left*/
.column1{
  float:center;
  width:25%;
  padding-left: 300px;
  padding-top: 30px;
}

/* Three image containers */
.column {
  float: left;
  width: 33.33%;
  padding: 20px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

#pastelgreen{
  overflow: show;
  background-color: #8FC1A9;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#beige{
  background-color: #FAF3DD;
  height: 50%;
  position: absolute;
  bottom: 230px;
  left: 0;
  width: 100%;
}

#container {
  width: 100%;
  height: 100%;
}

#pastelgreen1{
  overflow: show;
  background-color: #8FC1A9;
  height: 50%;
  position: absolute;
  top: 500px;
  left: 0;
  width: 100%;
}

#beige1{
  overflow:show;
  background-color: #FAF3DD;
  height: 50%;
  position: absolute;
  top: 700px;
  left: 0;
  width: 100%;
}
