/* CSS for index.html page */

body {
  background-color: #CEC2D8;
}

header #logo {
    width: 9%;
    max-width: 200px;
    position: absolute;
    top: 0;
    right: 0;

}

.topnav {
  position: absolute;
}

ul {
  background-color: white;
}

li {
  display: inline;
  padding: 100;
}

li a {
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 14px 16px;
  float: right;
}

body, html {
    height: 100%;
}

/* The hero image */
.hero-image {
  background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)), url(https://maps.googleapis.com/maps/api/staticmap?center=Santa+Clara,+CA&zoom=13&scale=1&size=600x300&maptype=roadmap&key=AIzaSyDt7BMmTYorKWuYIAKh7Cf4m0INUL9La40&format=png&visual_refresh=true);

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-image button {
  background-color: #171861; /* Dark purple */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.desc-text {
  text-align: center;
}

.description {
  backgound-color: #62ABE5; /*light blue*/
  border: none;
  color: white;
  padding: 15px 32px;
}

.campaign {
  background-image: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,1)), url(https://maps.googleapis.com/maps/api/staticmap?center=Santa+Clara,+CA&zoom=13&scale=1&size=600x300&maptype=roadmap&key=AIzaSyDt7BMmTYorKWuYIAKh7Cf4m0INUL9La40&format=png&visual_refresh=true);

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#camp-button {
  background-color: #171861; /* Dark purple */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

section {

}
